*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gill sans','sans-serif';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url("images/camping.jpg");
    background-size: cover;
    background-position: center;
}
/* NAV */
.logo{
    height: 35px;
    width: 140px;
    background-image: url("images/logo.png");
    background-size: cover;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.nav_links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav_links li a{
    text-decoration: none;
    color: #ffffff;
}
.register_button{
    background-color:#ffffff;
    color: black;
    border-radius: 15px;
    padding: 6px 15px;
    text-decoration: none;
    font-size: 14px;
}
/* Search */
.container{
    padding: 0 7%;
}
.header h1{
    font-size: 3rem;
    font-weight: 400; 
    text-align: center;
    color: white;
    padding-top: 22%;
}
.searchbar{
    background-color: white;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.searchbar form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.searchbar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;

}
.searchbar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}
.search_icon{
    font-size: 1.3rem;
    align-items: center;
    color: white;
}
.searchbar form label{
    font-weight: 600;
}
/* ------Exclusive part------ */
.image{
    background-size: cover;
    height: 100px;
    width: 100%;
    border-radius: 10px;
}
.image1{
    background-image: url("images/image-1.png");   
}
.image2{
    background-image: url("images/image-2.png");
}
.image3{
    background-image: url("images/image-3.png");
}
.image4{
    background-image: url("images/image-4.png");
}
.image5{
    background-image: url("images/image-5.png");
}
.subtitle{
    padding: 40px 0px 20px 100px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
.exclusive_images{
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
}
.image6{
    background-image: url("images/image-6.png");
}
.image7{
    background-image: url("images/image-7.png");
}
.image8{
    background-image: url("images/image-8.png");
}
.image9{
    background-image: url("images/image-9.png");
}
.image10{
    background-image: url("images/image-10.png");
}
.part_of_services div{
    position: relative;
}
.part_of_services div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-weight: 400;
}
/* --------Treding Places--------- */
.trending{
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}
.dubai_image{
    background-image: url("images/dubai.png")
}
.new_york_image{
    background-image: url("images/new-york.png")
}
.paris_image{
    background-image: url("images/paris.png")
}
.new_delhi_image{
    background-image: url("images/new-delhi.png")
}
.trending_images{
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
}
.trending h3{
    margin-top: 310px;
    font-weight: 500
}
/* ------call to action------ */
.cta{
    margin: 100px 100px 20px 100px;
    background-image: linear-gradient(to right,#3f2321,transparent),url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.cta h3{
    font-size: 3vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p{
    font-size: 18px;
    margin: 10px 0;
}
.cta_button{
    background-color: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 8px;
}
/* ------Travellers Stories------ */
.travellers_stories{
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
}
.tvs{
    background-size: cover;
    height: 380px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    text-align: center;
}
.one{
    background-image: url("images/story-1.png");
}
.two{
    background-image: url("images/story-2.png");
}
.three{
    background-image: url("images/story-3.png");
}
.travellers_stories p{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}
.start_button{
    text-decoration: none;
    background: #ff5361;
    color: #fff;
    width: 80%;
    display: block;
    max-width: 350px;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}
/* -----about message----- */
.about_msg{
    text-align: center;
    margin: 80px 0px;
    color: #333;
    font-size: 17px;
}
.about_msg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
}
/* ----footer---- */
.footer{
    margin: 80px 0px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0px;
}
.footer p{
    padding-bottom: 15px;
}
.active{
    position: relative;
}
.active::after{
    position: absolute;
    content:'';
    background: #fff;
    width: 25px;
    height: 2px;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 2px;
}
nav .fa-bars{
    display: none;
}
/* -----Responsiveness----- */
@media only screen and (max-width: 825px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        background: #000;
        z-index: 100;
        display:inline-block;
        width: 100%;
        padding: 100px 7% 0;     
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav_links li{
        margin: 10px 0;
        display: block;
        padding: 2px;
    }
    .register_button{
        display: inline-block;
        margin: 15px 0px 30px;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        color: #fff;
        top: 4%;
        right: 7%;
        font-size: 28px;
    }
    .active::after{
        left: -40px;
        transform: translate(0,-50%);
        bottom: 40%;
    }
    .hidemenu{
        max-height: 300px;
    }
    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }
    .searchbar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .searchbar form{
        display: block;
    }
    .searchbar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;;
        margin-top: 10px;
        padding-bottom: 10px;
    }.searchbar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%)
    }
    .subtitle{
        font-size: 6vw;
        padding: 30px 15px;
    }
    .image{
        height: 150px;
    }
    .exclusive_images{
        margin: 0px 15px;
    }
    .trending_images{
        margin: 0px 15px;
    }
    .trending{
        height: 400px;
    }
    .trending h3{
        margin-top: 405px;
    }
    .cta{
        margin: 55px 15px
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta_button{
        font-size: 14px;
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
    }
    .travellers_stories{
        margin: 0px 15px;
    }
    .travellers_stories p{
        font-size: 22px;
    }
}

 /* ------------finally end first part-------------- */