*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gill sans','sans-serif';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url("images/camping.jpg");
    background-size: cover;
    background-position: center;
}
/* NAV */
.logo{
    height: 35px;
    width: 140px;
    background-image: url("images/logo.png");
    background-size: cover;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.nav_links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav_links li a{
    text-decoration: none;
    color: #ffffff;
}
.register_button{
    background-color:#ffffff;
    color: black;
    border-radius: 15px;
    padding: 6px 15px;
    text-decoration: none;
    font-size: 14px;
}
/* Search */
.container{
    padding: 0 7%;
}
.header h1{
    font-size: 3rem;
    font-weight: 400; 
    text-align: center;
    color: white;
    padding-top: 22%;
}
.searchbar{
    background-color: white;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.searchbar form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.searchbar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;

}
.searchbar form button{
    background: #f16f6f;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}
.search_icon{
    font-size: 1.3rem;
    align-items: center;
    color: white;
}
.searchbar form label{
    font-weight: 600;
}
.image{
    background-size: cover;
    height: 100px;
    width: 100%;
    border-radius: 10px;
}
.image1{
    background-image: url("images/image-1.png");   
}
.image2{
    background-image: url("images/image-2.png");
}
.image3{
    background-image: url("images/image-3.png");
}
.image4{
    background-image: url("images/image-4.png");
}
.image5{
    background-image: url("images/image-5.png");
}
.subtitle{
    padding: 40px 0px 20px 100px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
.image_part{
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
}
.image6{
    background-image: url("images/image-6.png");
}
.image7{
    background-image: url("images/image-7.png");
}
.image8{
    background-image: url("images/image-8.png");
}
.image9{
    background-image: url("images/image-9.png");
}
.image10{
    background-image: url("images/image-10.png");
}
.exclusive div{
    position: relative;
}
.exclusive div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-weight: 400;
}
